aside {
  background: $bg-primary;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(75vw);
  width: 75vw;
  z-index: 1000;
}

.mobile-nav {
  flex-direction: column;
  height: 100%;
  padding-top: 3rem;
  width: 100%;
}

.mobile-nav li {
  flex-grow: 1;
}

.mobile-nav li a {
  color: $nav-link-color;
  padding: 3rem 0;
}
