footer {
  background: $bg-primary;
  color: $text-color;
  height: 30vh;
  justify-content: space-around;
}

footer a {
  color: $text-color;
  text-transform: none;
}

.address {
  line-height: 1.125rem;
}

.address h3 {
  font-size: 1.006875em;
  font-weight: 700;
}

.address li:nth-child(n+2) {
  font-size: .875em;
  font-style: italic;
}

footer .fa {
  border-radius: 100%;
  color: $bg-secondary;
  display: inline-block;
  font-size: 1.3em;
  height: 2.125rem;
  line-height: 2.125rem;
  margin-right: .9375rem;
  text-align: center;
  width: 2.125rem;
}

footer .fa-twitter {
  background: $twitter;
}

footer .fa-facebook {
  background: $facebook;
}

footer .fa-pinterest {
  background: $pinterest;
}

footer p {
  font-size: .875em;
  font-style: italic;
}

footer img {
   padding-left: .5625rem;
}


  //=============================//
 //  Media Queries              //
//=============================//

@media screen and(max-width: 768px) {

  footer {
    flex-direction: column;
    text-align: center;
  }

}
