header {
  background: url('../../site/img/header-bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav {
  height: 9.25rem;
  left: 0;
  position: fixed;
  top: 0;
  transition: $height-transition, $bg-transition;
  width: 100%;
  z-index: 200;
}

.main-nav {
  justify-content: space-between;
  width: 38.625rem;
}

.fa-navicon {
  display: none;
  font-size: 2em;
}

  //======================================//
 //  Applied after scrolling past header //
//======================================//

.nav-scrolled {
  background: $bg-primary;
  box-shadow: 3px 3px 5px $nav-shadow;
  height: 80px;
}

.nav-scrolled li,
.nav-scrolled li a {
  color: $bg-alt;
}

.nav-scrolled li a:hover {
  color: $cta;
}

.nav-scrolled li img {
  height: 3rem;
  width: 3rem;
}


.nav-reveal {
  transform: translateX(-75vw);
}


@media screen and (max-width: 1200px) {

  .nav-scrolled {
    background: none;
    box-shadow: none;
  }

  .main-nav {
    display: none;
  }

  .fa-navicon {
    display: inline-block;
    position: fixed;
    right: 5%;
    top: 3%;
  }

}
