header {
  height: 100vh;
  width: 100%;
  background: url(../../site/img/header-bg.png);
  background-size: cover;
  background-position: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.25rem;
  z-index: 200;
  transition: $transition;
}

.main-nav {
  width: 38.625rem;
  justify-content: space-between;
}

.fa-navicon {
  font-size: 2em;
  display: none;
}

//========================================
//  Applied after scrolling past header
//========================================

.nav-scrolled {
  background: $bg-primary;
  height: 80px;
  box-shadow: 3px 3px 5px $nav-shadow;
}

.nav-scrolled li,
.nav-scrolled li a {
  color: $bg-alt;
}

.nav-scrolled li a:hover {
  color: $cta;
}

.nav-scrolled li img {
  height: 3rem;
  width: 3rem;
  transition: $height-width-transition;
}


.nav-reveal {
  transform: translateX(-75vw);
}


@media screen and (max-width: 1200px) {

  .main-nav li:not(:nth-child(4)) {
    display: none;
  }

  .main-nav li:nth-child(4) {
    margin: auto;
  }

  .fa-navicon {
    display: inline-block;
  }

}
