.four .row {
  height: 60vh;
}

.four .col {
  height: 60vh;
}

.mini-img div,
.half-img {
  flex-grow: 1;
  height: 100%;
}

.mini-img,
.full-img {
  height: 50%;
}

.img-one {
  background: url('../../site/img/Layer-19.png');
}

.img-two {
  background: url('../../site/img/Layer-21.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-three {
  background: url('../../site/img/Layer-20.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-four {
  background: url('../../site/img/Layer-22.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-five {
  background: url('../../site/img/Layer-25.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-six {
  background: url('../../site/img/Layer-23.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-seven {
  background: url('../../site/img/Layer-24.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-eight {
  background: url('../../site/img/Layer-26.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.col div[class*="img"] {
  position: relative;
}

.col div[class*="img"] a {
  background: $cta-trans;
  flex-direction: column;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: $hover-transition;
  width: 100%;
}

.col div[class*="img"] a p {
  color: $bg-secondary;
  padding-top: .875rem;
}

.col div[class*="img"] a:hover {
  opacity: 1;
}


//===============================
//  Media Queries
//===============================

@media screen and(max-width: 1200px) {

  .four {
    display: none;
  }

}
