section.five {
  background: $bg-alt;
  height: 20vh;
}

section.five a {
  border: 1px solid;
  color: $bg-secondary;
  display: inline-block;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  transition: $bg-transition, $color-transition;
  width: 18.75rem;
}

section.five a:hover {
  background: $bg-secondary;
  color: $bg-alt;
}
