.two {
  flex-direction: column;
  height: auto;
}

.col,
.half-jumbo {
  width: 33.333vw;
}

  //=============================//
 //  .row styles                //
//=============================//

.row {
  display: flex;
  width: 100vw;
}

.row:first-child .content-img {
  background: url('../../site/img/Layer-11.png');
  background-repeat: no-repeat;
  background-size: cover;
}

 .row:nth-child(2) .content-img {
  background: url('../../site/img/Layer-13.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.row:nth-child(3) .content-img {
  background: url('../../site/img/Layer-16.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and(max-width: 1200px) {

  .row {
    flex-direction: column;
  }

}


  //=============================//
 //  .col styles                //
//=============================//

.col {
  height: 600px;

}

@media screen and(max-width: 1200px) {

  .col {
    width: 100vw;
  }

}



  //=============================//
 //  .content styles            //
//=============================//

.content {
  height: 400px;
  position: relative;
  z-index: 150;
}

.content h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.content p {
  line-height: 2.125rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: left;
}

.content img {
  padding-top: 3.125rem;
}

.content:after {
  border-left: .625rem solid transparent;
  border-right: .625rem solid transparent;
  border-top: .625rem solid $bg-secondary;
  bottom: -.625rem;
  content: ' ';
  height: 0;
  left: 48%;
  position: absolute;
  width: 0;
}

.content-img {
  height: 200px;
}


  //=============================//
 //  .jumbo/.half-jumbo styles  //
//=============================//

.jumbo {
  background-size: cover;
  flex-grow: 1;
}

.jumbo:first-child {
  background: url('../../site/img/Img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo {
  background: url('../../site/img/Layer-12.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.half-jumbo:first-child {
  background: url('../../site/img/Layer-15.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.half-jumbo:last-child {
  background: url('../../site/img/Layer-14.png');
  background-repeat: no-repeat;
  background-size: cover;
}


  //=============================//
 //  Media Queries              //
//=============================//

@media screen and(max-width: 768px) {

  .col {
    height: auto;
  }

  .content {
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .jumbo,
  .half-jumbo {
    height: 50vh;
  }

  .content p {
    line-height: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }

}

.six,
footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
