.six .section-content {
  background: $bg-secondary;
}

.six .section-content h2 {
  color: $text-color;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}

form input[type="email"] {
  border: 1px solid $text-color;
  height: 4.3125rem;
  margin: 0;
  padding-left: 1.75rem;
  width: 23.623rem;
}

form input[type="email"]:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: $font-stack;
  font-size: 1.25em;
  font-style: italic;
}

input:-moz-placeholder {
  font-size: 1.25em;
  font-family: $font-stack;
  font-style: italic;
}

input::-moz-placeholder {
  font-size: 1.25em;
  font-family: $font-stack;
  font-style: italic;
}

input:-ms-input-placeholder {
  font-family: $font-stack;
  font-size: 1.25em;
  font-style: italic;
}

input[type="submit"] {
  background: $cta;
  border: 1px solid $cta;
  color: $bg-secondary;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  height: 4.3125rem;
  margin-left: .5rem;
  outline: none;
  transition: $bg-transition;
  width: 7.875rem;
}

input[type="submit"]:hover {
  background: $cta-light;
}
