@import 'reset';

body {
  font-family: $font-stack;
  overflow-x: hidden;
}

.main-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.site-wrapper {
  transition: .5s transform;
}

a {
  text-decoration: none;
}

.main-nav li a {
  color: $nav-link-color;
  font-size: .8125em;
  transition: $color-transition;

}

.main-nav li a:hover {
  color: $cta;
}

section:nth-child(even) {
  background: $bg-primary;
}

h2 {
  color: $headline-color;
}

p {
  color: $text-color;
  font-size: 1.125em;
  line-height: 1.875rem;
}

.section-content,
.col {
  text-align: center;
}

.col p {
  font-size: 1em;
}

a,
h2 {
  font-weight: 700;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

header,
aside,
.mobile-nav,
nav,
nav ul,
section,
.jumbo,
.half-jumbo,
.col .mini-img,
.four .row .col:nth-child(2),
.col div[class*="img"] a,
form,
footer,
.social-links,
footer p {
  align-items: center;
  display: flex;
  justify-content: center;
}

.one,
.three,
.six {
  height: 50vh;
}

.four {
  height: 60vh;
}
