$font-stack: 'Lato', sans-serif;
$nav-link-color: #4d4959;
$headline-color: #353638;
$text-color: #848789;
$bg-primary: #f7f7f7;
$bg-secondary: #fff;
$cta: #64c29e;
$cta-trans: rgba(100, 194, 158, 0.7);
$bg-alt: #282f35;
$twitter: #4099ff;
$facebook: #3b5998;
$pinterest: #c92228;
$transition: .3s all;
